.booking-container {
  position: relative;
  margin: 30px auto;
  padding-top: 120px;
  width: 65%;
  font-family: "Segoe UI", sans-serif;
}
.booking-container::-webkit-scrollbar {
  display: none;
}

.stepper {
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  top: 80.5px;
  z-index: 1000;
  border-bottom: 2px solid #f28b82;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.step {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #999;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12px 0px;
}
.step-content::-webkit-scrollbar {
  display: none;
}
/* .step.active {
  /* color: #d32f2f; */
/* border-bottom: 3px solid #d32f2f; */
/* } */
.step:hover {
  color: #b71c1c;
}
