/* Confirmation Container */
.passenger-details-container {
  top: 200px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 12px;
  max-width: 650px;
  z-index: 999;
  text-align: center;
}

/* Passenger Card */
.passenger-card {
  margin: 15px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}

.passen {
  font-size: medium;
  font-weight: 300px;
}

/* Total Fare Box */
.totalfair {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Button Container */
.confirm-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Styled Button */
.confirm-btn button {
  background-color: rgb(38, 75, 38);
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: auto;
  /* min-width: 180px; */
  /* transsition: background 0.3s ease, transform 0.2s ease; */
}

/* .confirm-btn button:hover {
  background-color: rgb(30, 60, 30);
  transform: translateY(-2px);
} */
